<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Ajout de styles personnalisés */
        .form-container {
            max-width: 500px;
            margin: auto;
        }
        /* Ajout de styles personnalisés pour le bouton de soumission */
        .btn-submit {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <div class="form-container">
        <h1 class="mb-4">Add Product</h1>
        <form method="post" th:action="@{/addproduct/add}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" id="image" name="file" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="categorie">Category:</label>
                <input type="text" class="form-control" id="categorie" name="categorie" required>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" name="price" required>
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
